<div class="container-fluid" >

  <div class="row">

    <div class="col-3">
      <h3>Choose a Villian</h3>

      <div class="d-grid gap-2">

        <div *ngFor="let villian of villians" >

          <button (click)="select(villian)" class="btn btn-dark btn-sm">
            {{villian.name}}
          </button>

          &nbsp;
          <button (click)="edit(villian)" class="btn btn-dark btn-sm">
            Edit
          </button>

        </div>

      </div>

    </div>

    <div class="col-9" *ngIf="selectedVillian()">

      <h3>
        {{selectedVillian()?.name}}
        will destroy you with {{selectedVillian()?.powers}}
      </h3>

      <figure class="figure">
        <img style="max-height: 400px; max-width: 400px;" src="/api/image/hey.jfif" class="figure-img img-fluid rounded" alt="{{selectedVillian.name}}">

        <figcaption class="figure-caption">{{selectedVillian()?.name}}</figcaption>
      </figure>

      <h2>
        <button class="btn btn-dark btn-lg"  (click)="sayHello()">{{selectedVillian()?.buttonText}}</button> {{message}}
      </h2>

    </div>

  </div>

</div>

