<div class="container-fluid">

  <form novalidate (ngSubmit)="onSubmit(villianFg)" [formGroup]="villianFg">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="name" id="Name" />
      <label for="Name">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="powers" id="Power" />
      <label for="Power">Power</label>
    </div>
    <div class="form-floating mb-3">
      <input type="file" class="form-control" accept="image/*" (change)="fileChange($event)" id="Image">
      <label for="Image">Image</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="buttonText" id="ButtonText" />
      <label for="ButtonText">Button Text</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" formControlName="saying" id="Saying" style="height: 100px"></textarea>
      <label for="Saying">Saying</label>
    </div>

    <button type="submit" class="btn btn-dark" [disabled]="villianFg.invalid">Submit</button>
    &nbsp;<a class="btn btn-sm btn-secondary" [routerLink]="['/']">Cancel</a>

  </form>

</div>
