<div class="container-fluid">

  <form novalidate (ngSubmit)="onSubmit(villianFg)" [formGroup]="villianFg">
    <div>
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" formControlName="name" />
    </div>
    <div>
      <label>Power</label>
      <input type="text" class="form-control" placeholder="Power" formControlName="powers" />
    </div>
    <div>
      <label>Image</label>
      <input type="file" class="form-control" placeholder="Image" accept="image/*" (change)="fileChange($event)">
    </div>
    <div>
      <label>Button Text</label>
      <input type="text" class="form-control" placeholder="Button Text" formControlName="buttonText" />
    </div>
    <div>
      <label>Saying</label>
      <input type="text" class="form-control" placeholder="Saying" formControlName="saying" />
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="villianFg.invalid">Submit</button>
    &nbsp;<a class="btn btn-sm btn-secondary" [routerLink]="['/']">Cancel</a>
  </form>

</div>
